<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>
<body>
  <header>
    <img src="https://i2.wp.com/www.cicis.com/media/1243/pizza_adven_zestypepperoni.png" alt="Look at this tasty pizza. CONSUME.">
    <div><h1>Pizza, by Codeclan</h1>
    <h5>Artisanally microwaved to significantly less than perfection</h5>
  </div>
  </header>
  <nav>
    <ul>
      <li><a href="/pizzas/new">Order a Pizza</a></li>
      <li><a href="/pizzas">All Orders</a></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Ugly site design by Mark Blanford &copy; 2017</p>
  </footer>
</body>
</html>
